@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

select {
  cursor: pointer;
  font-family: "Tai Heritage Pro", serif;
  font-size: 13px;
  border-radius: 20px;
  background: white;
}



.select-bg {
  /* background: red; */
  /* padding: 2px; */
  position: relative;
  border-radius: 20px;
  border: 1px solid #000;
}

a {
  cursor: pointer;
}
